:root {
	--accent: rgb(179, 89, 145);
}

* {
	box-sizing: border-box;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: black;
	color: white;
	line-height: 1.4em;
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	margin: 0;
	font-size: 1.1rem;
}

h1 { font-size: 1.8rem; }
h2 { font-size: 1.6rem; }
h3 { font-size: 1.4rem; }
h4 { font-size: 1.2rem; }

p {
	margin: 0 0 0.5rem;
}

a {
	color: inherit;
}
